@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;600;700;800;900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Rubik', sans-serif;
    min-height: 100vh;
    color: #ffffff;
    background-color: #07070f;
    background-image: none;
  }
}

@layer components {
  :root {
    --bg-primary: #07070f;
    --bg-secondary: #0e0e14;
    --bg-card: #14141d;
    --purple-primary: #7743ce;
    --gold-accent: #ffb327;
    --text-primary: #ffffff;
    --text-muted: #5e5e70;
    --text-black: #000000;
    --radius: 0.625rem;
  }

  @theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-bg-primary: var(--bg-primary);
    --color-bg-secondary: var(--bg-secondary);
    --color-bg-card: var(--bg-card);
    --color-purple-primary: var(--purple-primary);
    --color-gold-accent: var(--gold-accent);
    --color-text-primary: var(--text-primary);
    --color-text-muted: var(--text-muted);
    --color-text-black: var(--text-black);
    --color-background: #07070f;
    --color-foreground: #ffffff;
    --color-card: #14141d;
    --color-card-foreground: #ffffff;
    --color-popover: #14141d;
    --color-popover-foreground: #ffffff;
    --color-primary: #7743ce;
    --color-primary-foreground: #ffffff;
    --color-secondary: #0e0e14;
    --color-secondary-foreground: #ffffff;
    --color-muted: #5e5e70;
    --color-muted-foreground: #ffffff;
    --color-accent: #7743ce;
    --color-accent-foreground: #ffffff;
    --color-border: #7743ce;
    --color-input: #14141d;
    --color-ring: #7743ce;
  }
}

@utility text-xs-custom {
  font-size: 8px;
  font-weight: 700;
}

@utility text-2xs {
  font-size: 10px;
  font-weight: 500;
}

@utility text-xs-medium {
  font-size: 12px;
  font-weight: 500;
}

@utility text-xs-semibold {
  font-size: 12px;
  font-weight: 600;
}

@utility text-sm-medium {
  font-size: 13px;
  font-weight: 600;
}

@utility text-sm-semibold {
  font-size: 14px;
  font-weight: 600;
}

@utility text-sm-bold {
  font-size: 14px;
  font-weight: 700;
}

@utility text-base-semibold {
  font-size: 15px;
  font-weight: 600;
}

@utility text-lg-extrabold {
  font-size: 20px;
  font-weight: 800;
}

@utility text-xl-black {
  font-size: 22.6px;
  font-weight: 900;
}

@utility text-2xl-bold {
  font-size: 27px;
  font-weight: 700;
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}